* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Bitter', serif;
    background-color: #0a0a23;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/town\ square.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #title h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 30px;
  }
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    width: 600px;
    min-height: 500px;
    background-color: rgba(20, 20, 20, 0.5);
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    border: 2px solid rgb(51, 51, 51);
  }
  
  #controls,
  #stats {
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 0 auto;
  }
  #stats {
    margin-top: 30px;
    font-size: 1.2rem;
  }
  #controls button {
    padding: 20px;
    border-radius: 5px;
  }
  #controls button:not(:first-child) {
    margin-left: 10px;
  }
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 10px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  #text {
    margin-bottom: 30px;
    width: 90%;
    background-color: rgba(223, 223, 223, 0.15);
  }
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: rgba(223, 223, 223, 0.3);
    border: 2px solid rgb(51, 51, 51);
    color: white;
  }
  button:hover {
    background-color: rgba(223, 223, 223, 0.2)
  }



  @media screen and (max-width: 750px) {
    #title h1 {
      font-size: 2.5rem;
    }
    #game {
      width: 85vw;
      min-height: 65dvh;
    }
  }